/* body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif} */

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  /* background-image: url("big.jpg"); */
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.mission-l {
    display:grid;
    justify-content: center;
}
.mission-l ul {
    list-style-type: none;
}

.bio-title {
    display:grid;
    justify-content: center;
}
.bio-title ul {
    list-style-type: none;
}
.dt {
    /* margin-left: 80px; */
    /* float: left; */
    min-width: 8em;
    font-weight: bold;
    /* padding-inline-start: 40px; */
}
.fixhover:hover {
    background-color: unset!important;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  /* top: 150%; */
  left: 50%;
  margin-left: -70px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip .tooltiptextR {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  top: -5px;
  left: 110%;
}


.tooltip .tooltiptextR::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip .tooltiptextRR {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  /* top: 150%; */
  left: 80%;
  margin-left: -100px;
}

.tooltip .tooltiptextRR::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
